* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(img/ba.png);
    font-family: Arial, sans-serif;
    /* height: 100vh; */
}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px auto;
    /* padding:100px; */
    height: 50vh;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border: 0.5px solid black;
    /* line-height: 65px; */
}

.p-conainer {
    width: 50%;
}

h1 {
    margin-bottom: 40px;
    margin-top: 25px;
}

#jokebox {
    height: 100px;
    font-size: 20px;
    padding: 10px;
    /* width: 50%; */
}

button {
    cursor: pointer;
    padding: 7px 20px;
    border-radius: 5px;
    background: black;
    color: white;
    border: none;
    outline: none;
    /* margin: 60px; */
}

button:active {
    background-color: white;
    color: black;
    border: 1px solid black;
}



@media (max-width:760px){
    body{
        height: 50vh;
        width: 100%;

    }
    .container {
        height:40vh;
        width: 50%;
        margin:100px auto;
        align-items: center;
    }
    h1 {
        margin-top: 30px;
        margin-bottom: 0px;
        font-size: 20px;
    }
    #jokebox{
        font-size: 15px;
        margin-top: 25px;
    }
    button{
        margin: 0px;
    }


}

/* ..................................................................................... */



@media(max-width:460px){
     #jokebox{
        font-size: 15px;
        /* font-weight: bold; */
        margin-top: 25px;
    }
    .container{
        height: 40vh;
        width: 70%;

    }

     h1 {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    button{
        padding: 7px 15px;
    }


}

@media(min-width:320px){
 .container{
    height: 40vh;
    margin:50px auto;


 }  

#jokebox{
    /* font-size:12px; */
}



}